/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

.button {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .button:hover {
        background: #555;
    }

/* Header */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

    header h1 {
        margin: 0;
    }

/* Navigation Menu */
nav ul {
    list-style: none;
    background: #555;
    text-align: center;
    padding: 0;
}

    nav ul li {
        display: inline;
    }

        nav ul li a {
            color: #fff;
            padding: 15px 20px;
            display: inline-block;
        }

            nav ul li a:hover {
                background: #333;
            }

/* Main Content */
.main-content {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

/* Menu Section */
.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

    .menu-item:last-child {
        border-bottom: 0;
    }

    .menu-item h3 {
        margin-top: 0;

    }

    .menu-item img {
        border-radius: 5%;
        margin-right: 1rem;
    }

    .menu-item p {
        margin:auto;
        text-align:center;
    }

#contact-section {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1rem;
}

    .form-group label {
        display: block;
        margin-bottom: .5rem;
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="tel"],
    .form-group input[type="date"],
    .form-group input[type="time"],
    .form-group input[type="number"] {
        width: 100%;
        padding: .5rem;
        border: 1px solid #ccc;
        border-radius: .25rem;
    }

button[type="submit"] {
    padding: .5rem 1rem;
    border: none;
    border-radius: .25rem;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

    button[type="submit"]:hover {
        background-color: #0056b3;
    }


/* Reviews Section */
.reviews-container {
    margin-top: 20px;
}

.review {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


    .review h4 {
        margin-top: 0;
    }

    .review p {
        font-style: italic;
    }

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

    footer p {
        margin: 0;
    }
